<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false" />
        <param name="maxFileSize" value="10KB" />
        <param name="maxBackupIndex" value="5" />

        <param name="file" value="logs/appLog.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <Loggers>
        <AsyncLogger name="com.mock_cti" level="INFO"/>

        <AsyncRoot level="ALL">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </AsyncRoot>
    </Loggers>
</Configuration>